$primary: #0079d3;
$accent: #ff4500;
$error: #ba1b1b;
$background-primary: #80bce9;
$background-light-gray: #eee;
$background-gray: #999;
$border-gray: #afafaf;
$shadow-light-gray: #ccc;
$shadow-dark-gray: #333;

$typography: #151515;
$typography-light: white;
